@page
@{
    ViewData["Title"] = "Promo Codes";
}

<div class="border backgroundWhite container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Promo Codes</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-page="Upsert" asp-route-id="0" class="btn btn-primary">
                <i class="fa-solid fa-plus"></i>&nbsp;Create New
            </a>
        </div>
    </div>
    <br /><br />
    <table class="table table-striped table-bordered" id="DT_load" style="width:100%">
        <thead>
            <tr>
                <th>Code</th>
                <th>Description</th>
                <th>Discount Type</th>
                <th>Discount Value</th>
                <th>Valid From</th>
                <th>Valid To</th>
                <th>Min Order</th>
                <th>Uses Remaining</th>
                <th>Active</th>
                <th></th>
            </tr>
        </thead>
    </table>
</div>

@section Scripts {
    <script src="~/js/promocode.js"></script>
}
